* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --pc: rgba(22, 87, 71, 1);
  --sc: #0d4048;

  --black: #000000;
  --white: #ffffff;

  --bg-1: rgb(250 66 12 / 10%);
  --bg-2: #012f36;
  --bg-3: #021c1e;


  --text: rgb(0 0 0 / 80%);
  --bd-color: #33333338;
  scroll-behavior: smooth;
}





/* # General
  =================================================*/
body {
  background-color: var(--white);
}

a {
  color: var(--pc);
  transition: all 0.5s;
  text-decoration: none;
}

p {
  line-height: 2;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: clamp(1.5625rem, 0.6696rem + 2.381vw, 2.8125rem) !important;
}

h2,
.h2 {
  font-size: clamp(1.325rem, calc(1.325rem + 0.9vw), 2rem) !important;
}

h3,
.h3 {
  font-size: clamp(1.3rem, calc(1.3rem + 0.6vw), 1.75rem) !important;
}

h4,
.h4 {
  font-size: clamp(1.275rem, calc(1.275rem + 0.3vw), 1.5rem) !important;
}

h5,
.h5 {
  font-size: 1.25rem !important;
}

h6,
.h6 {
  font-size: 1rem !important;
}

/* # Common Class
  =================================================*/

/* all-page property for all page ___ start */
.all-page ul li::marker {
  color: var(--pc)
}

.all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(#breadcrumbs,
  .hs-toc-wrap ul li,
  .author-social-link ul li a,
  [class*="social-links"] ul li) a {
  border-bottom: 2px solid var(--pc);
  color: var(--pc);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(#breadcrumbs,
  .hs-toc-wrap ul li,
  .author-social-link ul li a,
  [class*="social-links"] ul li) a:hover {
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}

/* row & container  __________ start */

.img-placeholder {
  background-color: #c7c7c7;
  transition: all 0.3s ease-in-out;
}

.hs-bg-cont {
  border-radius: 8px;
  background: var(--bg);
}

.hs-shadow-cont {
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0px 6px 9px 0px #0000000F;
}

.border-bottom:not(:first-child) {
  border-top: 1px solid var(--bd-color);
}

/* # Common Components
  =================================================*/

/* Breadcrumbs ___________Starts */
#breadcrumbs span span:not(:last-child):after {
  background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.354 4.354a.5.5 0 0 0 0-.708L10.172.464a.5.5 0 0 0-.708.708L12.293 4 9.464 6.828a.5.5 0 1 0 .708.708zM0 4.5h13v-1H0z' fill='%23fff'/%3E%3C/svg%3E") no-repeat;
}

/* site-btn ___________Starts */
.hs-btn {
  border: 1px solid var(--pc);
  background: var(--pc);
  color: var(--white);
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  border-radius: 4px;
  font-size: 14px;
}

.hs-btn:has(svg) {
  fill: var(--white);
}

.hs-btn:hover {
  border: 1px solid var(--pc);
  background: (var(--white));
  color: var(--pc);
  transition: all 0.3s ease-in-out;
}

.hs-btn:hover svg {
  fill: var(--pc);
}


/* site cards  ___________Starts */

[class*="card"] {
  transition: all 0.3s ease-in-out;
  border-radius: 4px 4px 0 0;
  background: var(--white);
}

.hs-card {
  --color: var(--black);
  --meta: var(--text);
  --cat: var(--pc);
}

.img-placeholder,
.img-placeholder img {
  border-radius: 4px 4px 0 0;
}

[class*="title"] {
  color: var(--color) !important;
  font-weight: 700;
  line-height: 1.4;
}

.hs-title {
  font-size: 18px;
}

.hs-sub-title {
  font-size: 24px;
}

.hs-big-title {
  font-size: 32px;
}

.description {
  color: var(--meta);
}

.hs-cat {
  color: var(--pc);
  font-size: 14px;
  font-weight: 600
}

.hs-timeline,
.hs-timeline>* {
  font-size: 14px;
}

.hs-timeline svg,
.hs-timeline .hs-author {
  color: var(--meta);
  fill: var(--meta);
}

.hs-author {
  font-weight: 600
}

[class*='card'] hr {
  opacity: .5;
}

[class*='border'] {
  border: 1px solid var(--bd-color);
}

.bg-white {
  background: var(--white);
}

.auth-img img {
  border-radius: 50%;
}

.blog-detail .auth-img img {
  border: 1px solid var(--bd-color);
  padding: 2px;
}

.hs-cat-btn {
  background: var(--pc);
  border-radius: 25px;
  color: var(--white);
  font-size: 14px;
}

.hs-auth-card .auth-img img {
  width: 90px;
  width: 90px;
  border: 1px solid var(--pc);
  padding: 5px;
}

.hs-auth-card .hs-card-content {
  background: transparent !important;
}

/* Separator_____________Start*/


.main-head {
  color: var(--black);
  font-size: clamp(1.25rem, 0.7143rem + 1.4286vw, 2rem);
  font-weight: 700;
}

.hs-sep .border {
  background: var(--pc);
}

/* Social Icons _____________Start*/

.hs-social-links ul li a {
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  background: var(--pc);
  border: 1px solid var(--bg);
}

.hs-social-links ul li a:hover {
  transition: all 0.3s ease-in-out;
  background: var(--white);
  border: 1px solid var(--pc);
}

.hs-social-links ul li a svg {
  fill: var(--white);
  transition: all 0.3s ease-in-out;
}

.hs-social-links ul li a:hover svg {
  transition: all 0.3s ease-in-out;
  fill: var(--pc);
}

/* pagination_____________start */

.pagination a.page-numbers {
  background: #e7e7e7;
  color: var(--black);
}

.pagination a.page-numbers,
.pagination span.page-numbers.current {
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  transition: .3s;
}

span.page-numbers.current,
.pagination a.page-numbers:focus,
.pagination a.page-numbers:hover {
  background: var(--white);
  color: var(--white);
}

.pagination a.page-numbers:after,
.pagination a.page-numbers:before,
span.page-numbers.current:after,
span.page-numbers.current:before {
  background-color: var(--pc);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}



/* # Header
  =================================================*/
header {
  background: var(--white);
  box-shadow: 0px 6px 9px 0px #0000000F;
  transition: all 0.3s ease-in-out;
}

header li a {
  color: var(--black);
}

:is(header, footer) li a:hover,
.hs-menu ul li .active {
  color: var(--pc);
}

.hs-menu ul li .active {
  font-weight: 600;
}

/* top bar _______ start */
.top-bar {
  background: var(--pc);
  font-size: var(--fs-4);
}

.top-bar .menu li a,
.top-bar a {
  color: var(--white) !important;
}

/* search form _____ start */
.menu-search-form {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.search-btn svg {
  fill: #8f8f8f;
}

/* dropdown ______ start */
.dropdown::after,
.dropdown .dropdown::after,
.dropdown ul {
  transition: all 0.3s ease-in-out;
}

.dropdown ul {
  background: var(--white);
  box-shadow: var(--shadow-sm);
}

.dropdown::after,
.dropdown .dropdown::after {
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4 5.588 4 4 4-4' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
}

.mob-search-btn {
  background: var(--pc);
  border-radius: 50%;
}

.mob-search-btn svg {
  fill: var(--white);
}

.menu-search-form {
  background: var(--white);
  transition: all 0.3s ease-in-out;
}

.search-bar-show {
  transition: all 0.3s ease-in-out;
}

header nav ul {
  background-color: var(--white);
}


/* # Home page
  =================================================*/
.hero-counter {
  background: #F1F8FB;
}

.counter-img {
  border: 1px solid #CADFFF;
  border-top: 4px solid var(--pc);
  border-radius: 50%;
  background: var(--white);

}

/* # Single Page
  =================================================*/

/* Blog header _____________start */
.blog-detail>*:not(:last-child):after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='15' fill='none'%3E%3Cpath stroke='%23000' stroke-opacity='.5' d='M.5.472v20'/%3E%3C/svg%3E") no-repeat;
}

.author-social-link ul {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.author-social-link>ul {
  border-radius: 30px;
}

.author-social-link ul li a {
  border: unset !important;
}

.author-social-link svg {
  fill: #000;
}

.author-social-link svg:hover {
  fill: var(--pc);
}

/* Blog sidebar_____________start */

/* table of contents */
.hs-toc-wrap {
  border: 1px solid var(--bd-color);
  background: var(--white);
}

.hs-toc-wrap:before {
  background: var(--white);
}

.toc-header {
  font-weight: 600;
  color: var(--white);
  font-size: 18px;
  background: var(--pc);
  border-radius: 0px 26px 26px 0px;
}

.toc-header::before {
  border-right: 15px solid var(--pc);
}

.toc-toggle-btn {
  transition: all 0.3s ease-in-out;
}

.toc-body {
  transition: opacity 0.3s ease-in-out;
  margin-top: 70px;
}

.toc-body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--bd-color);
}

.toc-body ul {
  padding-left: 0 !important;
  list-style-type: none;
}

.toc-body ul li a {
  color: var(--text);
}

.hs-toc-wrap .toc-body.hidden {
  transition: all 0.3s ease-in-out;
}

.toc-body .active>a {
  color: var(--pc);
}

.toc-body .active {
  font-weight: 700;
  background: hsla(165, 60%, 21%, 0.09);
  border-left: 4px solid var(--pc);
}


/* Blog Contents _____________start */

/* blockquote */
blockquote {
  border-left: 4px solid var(--pc);
  border-right: 4px solid var(--pc);
  border-radius: 12px;
  border-top: none;
  border-bottom: none;
  position: relative;
}

blockquote:before {
  width: 55px;
  height: 65px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='39' viewBox='0 0 38 39' fill='none'%3E%3Cpath d='M16.0476 0.746123C12.5431 0.901774 9.41465 2.29929 7.0006 4.78763C0.600959 11.3851 0.724062 23.8213 0.759114 25.1967L0.759532 38.1654C0.759532 38.6261 1.13343 39 1.59412 39H14.4013C14.862 39 15.2359 38.6261 15.2359 38.1654V25.3573C15.2359 24.8967 14.862 24.5228 14.4013 24.5228H7.85605C7.8573 23.4536 7.98666 13.9614 12.1066 9.72756C13.2216 8.58125 14.542 7.96908 16.1435 7.856C16.5809 7.82512 16.9193 7.46165 16.9193 7.02349V1.5803C16.9193 1.35245 16.8262 1.13462 16.6618 0.977304C16.497 0.819567 16.2783 0.731935 16.0476 0.746123Z' fill='%23858585'/%3E%3Cpath d='M37.4951 0.976887C37.3303 0.819567 37.117 0.731935 36.8808 0.746123C33.3768 0.901356 30.2479 2.29929 27.8335 4.78763C21.4343 11.3851 21.5569 23.8213 21.592 25.1967L21.5924 38.1654C21.5924 38.6261 21.9663 39 22.427 39H35.2338C35.6945 39 36.0684 38.6261 36.0684 38.1654V25.3573C36.0684 24.8967 35.6945 24.5228 35.2338 24.5228H28.6898C28.691 23.4536 28.8204 13.9614 32.9399 9.72756C34.0553 8.58125 35.3757 7.96908 36.9772 7.856C37.4146 7.82512 37.7526 7.46165 37.7526 7.02349V1.5803C37.7526 1.35287 37.6595 1.13504 37.4951 0.976887Z' fill='%23858585'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  opacity: .2;
  top: 22px;
}


/* table */
table {
  border-radius: 4px;
  border-spacing: 0;
}

table thead {
  background-color: #858282;
}

table thead th {
  color: var(--white);
  font-weight: 600;
}

table tr td,
table tr th {
  border: 1px solid var(--bd-color);
}

tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

/* pros-cons */

.hs-pros-cons-head {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  clip-path: polygon(0 1%, 100% 0, 100% 64%, 50% 100%, 51% 100%, 0 65%);
}

.hs-pros-wrap .hs-pros-cons-head {
  background: #70ad46;
}

.hs-cons-wrap .hs-pros-cons-head {
  background: #fd0002;
}


.hs-pros-wrap ul li::before {
  background: url("data:image/svg+xml,%3Csvg width='39' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M.198 29.093H24.38l13.818-14.5L24.38.092H.198v29Z' fill='green'/%3E%3Cpath d='m12.297 18.916-3.923-3.923a.603.603 0 0 1 0-.853l.854-.854a.603.603 0 0 1 .853 0l2.643 2.643 5.66-5.66a.604.604 0 0 1 .853 0l.853.854a.604.604 0 0 1 0 .853l-6.94 6.94a.603.603 0 0 1-.853 0Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h39v30H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat;
}

.hs-cons-wrap ul li::before {
  background: url("data:image/svg+xml,%3Csvg width='39' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M.198 0H24.38l13.818 14.5L24.38 29H.198V0Z' fill='red'/%3E%3Cpath d='m16.142 14.733 2.349-2.349c.23-.23.23-.6 0-.83l-1.382-1.382a.587.587 0 0 0-.83 0l-2.349 2.349-2.348-2.349a.586.586 0 0 0-.83 0L9.37 11.554c-.23.23-.23.6 0 .83l2.349 2.349-2.35 2.348c-.229.23-.229.6 0 .83l1.383 1.382c.23.23.6.23.83 0l2.348-2.348 2.349 2.348c.23.23.6.23.83 0l1.382-1.382c.23-.23.23-.6 0-.83l-2.349-2.348Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h39v29H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat;
}




/* Accordians faq */

.hs-block-faq summary {
  transition: all 0.2s ease;
  border-radius: 0 61px 61px 0;
  background: rgb(22 87 71 / 12%);
  color: #212529;
  font-weight: 600;
}

.hs-block-faq details[open]>summary {
  border: var(--bd-color);
}

.hs-block-faq summary::after {
  transition: all 0.5s ease;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 33' fill='none'%3E%3Ccircle cx='18' cy='15' r='14' fill='%23165747'/%3E%3Cpath d='m17.588 18.795-5.313-5.313a.934.934 0 0 1 0-1.324l.883-.883a.934.934 0 0 1 1.324 0l3.766 3.766 3.766-3.766a.934.934 0 0 1 1.324 0l.883.883a.934.934 0 0 1 0 1.324l-5.313 5.313a.93.93 0 0 1-1.32 0' fill='%23fff'/%3E%3C/svg%3E") no-repeat;
}

.block-content-faq {
  background: rgb(243 246 246 / 48%);
}

/* Notes | Sources | Also Read */
:is(.hs-block-note, .hs-block-source, .hs-block-also-read) {
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #efefef;
  position: relative;
  z-index: 1;
}


.block-heading {
  position: relative;
  color: var(--black);
  font-weight: 600;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 700;
  background: #16574745;
  border-radius: 0 4px 0 0;
}

:is(.hs-block-note, .hs-block-source, .hs-block-also-read, .block-heading)::before {
  content: '';
  background: #16574745;
  border-radius: 0 0 0 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.block-heading::before {
  background: var(--pc);
  border-radius: 4px 0 0 0;
  content: "";
}

.block-content .hs-card-content {
  background: transparent !important;
}


.hs-block-also-read [class*='card'] {
  background: transparent !important;
}

.hs-single-page .hs-auth-card {
  background: #f4f4f4;
  border-radius: 4px;
  padding: 20px;
}

/* # All Author  ||  Author Single || category Page
  =================================================*/
.hs-authors-page .hs-auth-card {
  background: #f8f9fa;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}

.hs-authors-page .hs-auth-card .hs-card-content {
  gap: 0 !important;
}

.hs-author-acrhive-page .sidebar .hs-auth-card {
  background: var(--bd-color);
  border-radius: 4px;
}

.hs-authors-page .hs-auth-card .arrow-btn {
  background: #fff;
  border-radius: 50%;
}

.hs-authors-page .hs-auth-card .arrow-btn svg {
  fill: var(--pc);
}

.hs-authors-page .hs-auth-card:hover {
  background: rgba(22, 87, 71, 0.11);
}

.hs-authors-page .hs-auth-card:hover .arrow-btn {
  background: rgba(22, 87, 71, 1);
}

.hs-authors-page .hs-auth-card:hover .arrow-btn svg {
  fill: var(--white);
}

/* # Thank You || Search Not Found  || 404 Page
  =================================================*/
.error-txt {
  font-size: 10em;
  font-weight: 600;
}

.error-txt svg {
  fill: var(--pc);
}

.fa-spin {
  animation: 2s linear infinite fa-spin;
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);

  }
}

/* # Contact Page Templates
  =================================================*/
.contact-form {
  border: var(--border);
  border-right: none;
  border-radius: 4px;
}

.contact-detail-box .bg-box {
  background: #1657471a;
}

.contact-form form {
  background: var(--pc);
  border-radius: 0 4px 4px 0;
}

.contact-form .input-group :is(input, textarea) {
  background-color: transparent;
  color: var(--white);
  border-radius: 4px;
  border: solid 1px var(--white);
  transition: all 0.3s ease;
}

.contact-form .input-group input:focus {
  border-color: var(--white);
}

.contact-form .input-group label {
  font-size: var(--fs-4);
  background: var(--pc);
  color: var(--white);
  transition: all 0.3s ease;
}

.contact-form .hs-btn {
  background: var(--white);
  color: var(--pc);
  border: 1px solid var(--pc);
  padding: 5px 20px;
}

.contact-form .hs-btn:hover {
  background: var(--pc);
  color: var(--white);
  border: 1px solid var(--white);
}

.contact-form form .h4 {
  color: #fff;
}

/* # Footer
  =================================================*/
footer {
  background: var(--black);
  color: var(--white);
}

footer a {
  color: var(--white);
}

.copywrite {
  color: var(--white);
}

.fo-sep {
  font-size: 18px;
  font-weight: 600;
}

footer .flex-between:has(.hs-social-links) {
  border-top: 1px solid #ffffff30;
  border-bottom: 1px solid #ffffff30;
}

.fo-sep::after {
  background: url("data:image/svg+xml,%3Csvg width='44' height='2' viewBox='0 0 44 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='1.5' d='M0 1.175h32m2 0h4m2 0h4'/%3E%3C/svg%3E") no-repeat;
}


/* # Scroll top button
  =================================================*/
#scroll_to_top {
  font-size: 16px;
  border: 2px solid hsl(150deg 17.57% 29.02%);
  background: var(--white);
  border-radius: 50%;
}

#scroll_to_top svg {
  fill: var(--pc);
}

/* # Responsive Code
  =================================================*/

@media screen and (min-width: 1024px) {

  /* header desktop ___________ */
  .sticky-header {
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (min-width: 992px) {

  footer .row [class*="col-lg"]:not(:first-child):has(.fo-sep) {
    border-left: 1px solid #ffffff30;
  }
}

@media screen and (max-width: 1024px) {

  /* header desktop ___________ */
  .back-drop {
    background: var(--black);
  }

}

@media screen and (max-width: 768px) {
  .hs-big-title {
    font-size: 18px !important;
  }


}